body{
  -webkit-font-smoothing: antialiased;

}
.content-warp{
  height: 100vh;
  display: flex;
  /*cursor: pointer;*/
  flex-direction: column;
  text-decoration: line-through;
}
@media (min-width:760px) {
  .content-warp{
    flex-direction: row;
  }

}
.li{
  font-size: 24px;
  color: #999
}
.del{
  display: inline-block;
  /*padding-top: 20px;*/
  padding-left: 80px;
}
